.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}
.img-carousel{
    width: 400;
    height: 200;
}
.img-responsive {
    height: 250px;
}
.header h1 { 
    font-weight: 600;
    font-family:sans-serif;
    color: darkblue;
    font-size: 50pt
}
.header h2 {
    font-weight: 700;
    font-family:sans-serif;
    color: darkblue;
    font-size: 30pt
}
.header p {
    font-weight: 400;
    font-family:sans-serif;
    color: darkblue;
    font-size: 20pt
}
.header {
    background-image: url('../images/backgr.jpg');
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
